<!doctype html>
<html lang="en">

<body>

    <header class="section-header sticky-top">
        <section class="header-main">
            <div class="container">
                <div class="row gy-3 align-items-center">
                    <div class="col-lg-2 col-sm-4 col-4">
                        <a style="font-size: 19px;font-weight: bold;" href="" id="chan">



                        </a> <!-- brand end.// -->

                    </div>


                </div> <!-- row end.// -->
            </div> <!-- container end.// -->
        </section>
        <p>

            <img style="height:2rem; margin-top:-4rem;margin-bottom: -2rem;padding-left: 5rem;" src="assets/images/posts/logo.png"
                data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                aria-controls="collapseExample">

        </p>
        <div class="collapse" id="collapseExample">
            <div style="font-size:14px;    justify-items: center;
            " class="card card-body">
                Manual attendance systems are plagued by buddy-punching and time-theft. Since the data is entered manually, 
                it can easily be manipulated. The students may provide inaccurate 
                information for extra income, resulting in less productivity and increased costs. 

                The “Online Attendance Management App” gives reduced paperwork and saves time to generate accurate results from employees’ attendance. It provides security by using individual login IDs and passwords.
            </div>
        </div> <!-- header-main end.// -->
       
    </header> <!-- section-header end.// -->


</body>

</html>